@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --color-dark: #111d5e;
    --color-red: #c70039;
    --color-orange: #f37121;
    --color-electric: #c0e218;
}

body {
    background-color: #111d5e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}

button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
}

select {
    width: 200px;
    padding: 5px;
    color: white;
    appearance: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#easy {
    background-color: var(--color-electric);
}
#medium {
    background-color: var(--color-orange);
}
#hard {
    background-color: var(--color-red);
}

select:focus,
button:focus {
    outline: 0;
}

.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: var(--color-electric);
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.2s linear;
}

.settings.hide {
    transform: translateY(-100%);
}

.container {
    background-color: var(--color-red);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    text-align: center;
    width: 500px;
}

input {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 20px;
}

.score-container {
    position: absolute;
    top: 60px;
    right: 20px;
}

.time-container {
    position: absolute;
    top: 60px;
    left: 20px;
}

.end-game-container {
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
